include AUTHORS
include CHANGES
include LICENSE
include README.md
include TODO
include *.py
include requirements*.txt
exclude .git
exclude build
exclude dist
exclude .coverage
exclude coverage.xml
exclude nosetests.xml

# Project specific
exclude podcast.ini
exclude season_to_youtube.ini
exclude snapcraft.yaml
exclude parts
exclude prime
exclude stage
