configobj
ffmpy
google-api-python-client
html2text
markdown
mutagen
oauth2client
pillow
progressbar2
pydub
pysftp
python-resize-image
python-wordpress-xmlrpc
https://github.com/tokland/youtube-upload/archive/master.zip
